@font-face {
  font-family: 'Inter';
  src:url('/MVC/View/font/Inter-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
 }

*{
    background-color: #000;
}

html {
  font-family: "Inter", "Times New Roman",
}

header{
    /* Control bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 55px;
gap: 10px;

position: absolute;
width: 1150px;
height: 65px;
left: calc(50% - 1150px/2);
top: 24px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;

}

.controlbar{
    /* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 1040px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}


nav {
    /* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 48px;

margin: 0 auto;
width: 650px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
  nav ul {
    padding-left: 150px;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }

  nav a{
height: 24px;

/* UI label Semebold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;
text-align: center;

/* Opac-color 50 */
color: rgba(255, 255, 255, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
text-decoration: none
  }

.others{
    /* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

margin: 0 auto;
width: 230px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
/* flex-grow: 0; */
}

.others .signin a{
    /* ĐĂNG NHẬP */

width: 97px;
height: 24px;

/* UI label Semebold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;
text-align: center;

/* Opac-color 50 */
color: rgba(255, 255, 255, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
}

.others .signup button{

/* Auto layout */
display: flex;
justify-content: center;
align-items: center;

width: 107px;
height: 44px;

/* Opac-color 25 */
background: rgba(255, 255, 255, 0.25);
border-radius: 4px;
color:rgba(255, 255, 255, 0.5);

}