<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MVC/View/css/main.css">
    <link rel="stylesheet" href="/MVC/View/css/left_side.css">

    <title>Document</title>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>

<body>
    <div class="mainLight"></div>

    <header>
        <div class="controlbar">
            <div class="logo">
                <img src="/MVC/View/img/logo.svg" alt="logo">
            </div>

            <div class="searching">
                <div class="home">
                    <img class="img-home" src="/MVC/View/icon/icon_home.svg" alt="">
                </div>
                <div class="input-wrapper">
                    <img src="/MVC/View/icon/icon_search.svg" alt="">
                    <input type="text" name="" id="">
                </div>

                <div class="voice-searching">
                    <img src="/MVC/View/icon/icon_voice_searching.svg" alt="">
                </div>
            </div>

            <div class="general">
                <div class="notif">
                    <img src="/MVC/View/icon/icon_notif.svg" alt="">
                </div>
                <div class="account">
                    <img src="/MVC/View/icon/icon_signout.svg" alt="">
                </div>
                <p class="op_50" href="">ĐĂNG XUẤT</p>
            </div>
        </div>
    </header>


    <main>
        <!-- Main space -->
        <div class="mainSpace">
            <!-- Left bar -->
            <div class="leftBar">

                <div class="wrapper">
                    <div class="head">
                        <div class="head-1">
                            <div class="lib">
                                <iconify-icon icon="fluent:library-24-filled"></iconify-icon>
                                <p class = "TV">Thư viện</p>
                            </div>
                            <div class="plus">
                                <iconify-icon icon="ic:sharp-plus"></iconify-icon>
                            </div>
                        </div>
    
                        <div class="head-2">
                            <div class="playlist">
                                <p>Playlist</p>
                            </div>
                            <div class="artist">
                                <p>Nghệ sĩ</p>
                            </div>
    
                        </div>
    
                    </div>                  
                  
                    <div class="list">
                        <div class="box">
                            <div class="image">
    
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha.svg" alt="">
                            </div>
                            <div class="song-artist">
                                <p class = "BH"><!--chen ten bai hat-->Healing cực mạnh</p>
                                <p class="NS"><!--chen ten nghe si-->Playlist</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha1.svg" alt="">
                            </div>
                            <div class="song-artist">
                                <p class = "BH"><!--chen ten bai hat-->Nhạc của Trang </p>
                                <p class="NS"><!--chen ten nghe si-->Nghệ sĩ</p>
                            </div>
    
                        </div>
                        <div class="box">
                            <div class="image">
    
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha.svg" alt="">
                            </div>
                            <div class="song-artist">
                                <p class = "BH"><!--chen ten bai hat-->Healing cực mạnh</p>
                                <p class="NS"><!--chen ten nghe si-->Playlist</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha1.svg" alt="">
                            </div>
                            <div class="song-artist">
                                <p class = "BH"><!--chen ten bai hat-->Nhạc của Trang </p>
                                <p class="NS"><!--chen ten nghe si-->Nghệ sĩ</p>
                            </div>
    
                        </div>
                        <div class="box">
                            <div class="image">
    
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha.svg" alt="">
                            </div>
                            <div class="song-artist">
                                <p class = "BH"><!--chen ten bai hat-->Healing cực mạnh</p>
                                <p class="NS"><!--chen ten nghe si-->Playlist</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha1.svg" alt="">
                            </div>
                            <div class="song-artist">
                                <p class = "BH"><!--chen ten bai hat-->Nhạc của Trang </p>
                                <p class="NS"><!--chen ten nghe si-->Nghệ sĩ</p>
                            </div>
    
                        </div>
                    </div>

                </div>
            </div>

            <div class="centerSpace">

            </div>

            <div class="rightBar">

            </div>
        </div>

        <!-- Listening Space -->
        <div class="listeningSpace">

        </div>
    </main>
</body>

</html>