<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MVC/View/css/main.css">
    <link rel="stylesheet" href="/MVC/View/css/right_side.css">

    <title>Document</title>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>

<body>
    <div class="mainLight"></div>

    <header>
        <div class="controlbar">
            <div class="logo">
                <img src="/MVC/View/img/logo.svg" alt="logo">
            </div>

            <div class="searching">
                <div class="home">
                    <img class="img-home" src="/MVC/View/icon/icon_home.svg" alt="">
                </div>
                <div class="input-wrapper">
                    <img src="/MVC/View/icon/icon_search.svg" alt="">
                    <input type="text" name="" id="">
                </div>

                <div class="voice-searching">
                    <img src="/MVC/View/icon/icon_voice_searching.svg" alt="">
                </div>
            </div>

            <div class="general">
                <div class="notif">
                    <img src="/MVC/View/icon/icon_notif.svg" alt="">
                </div>
                <div class="account">
                    <img src="/MVC/View/icon/icon_signout.svg" alt="">
                </div>
                <p class="op_50" href="">ĐĂNG XUẤT</p>
            </div>
        </div>
    </header>


    <main>
        <!-- Main space -->
        <div class="mainSpace">
            <!-- Left bar -->
            <div class="leftBar">
     
            </div>

            <div class="centerSpace">

            </div>

            <div class="rightBar">
                <!--Thanh ben phai-->
                <div class="boxWrapper">
                    <div class="exit">
                        <iconify-icon icon="ic:outline-plus"></iconify-icon>
                        <iconify-icon icon="hugeicons:multiplication-sign"></iconify-icon>
                    </div>

                    <div class="boxSongEvalute">
                        <div class="boxSong">
                            <div class="imageSong">
                                <!--chèn hình ảnh-->
                                <img src="/MVC/View/img/ha3.svg" alt="">

                            </div>

                            <div class="nameSong">
                                <div class="nameSong-Song" >
                                    I can do it with a broken heart
                                </div>                               
                                
                                <div class="nameSong-Artist">
                                Taylor Swift
                                </div>
                            </div>
                        </div>

                        <div class="box-Evaluate">
                            <div class="box-head">
                                <div class="Evaluate-Lable">
                                    <p>Đánh giá</p>
                                </div>
                                <div class="All">
                                    <p>Tất cả</p>
                                </div>
                            </div>
                        
                            <div class="NameEvaluate">
                                <div class="box-E">
                                    <div class="Name">
                                        <p>Nguyen Khoa Quan</p>
                                    </div>
                                    <div class="Eva">
                                        <div class="Eva-Oval">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot-empty"></span>
                                        </div>
                                        <div class="Eva-status">
                                        
                                            <p>good</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-E">
                                    <div class="Name">
                                        <p>Nguyen Khoa Quan</p>
                                    </div>
                                    <div class="Eva">
                                        <div class="Eva-Oval">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot-empty"></span>
                                        </div>
                                        <div class="Eva-status">
                                        
                                            <p>good</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-E">
                                    <div class="Name">
                                        <p>Nguyen Khoa Quan</p>
                                    </div>
                                    <div class="Eva">
                                        <div class="Eva-Oval">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot-empty"></span>
                                        </div>
                                        <div class="Eva-status">
                                        
                                            <p>good</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>

                </div>

            </div>
        </div>

        <!-- Listening Space -->
        <div class="listeningSpace">

        </div>
    </main>

    <!--See review-->
    <div class="seeReview">
        <div class="seeReview-exit">
            <div class="letter">
                <p id="Review">Đánh giá</p>
            </div>
            
            <iconify-icon icon="hugeicons:multiplication-sign"></iconify-icon>                
        </div>

        <div class="seeReview-content">
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
            <div class="box-E1">
                <div class="Name">
                    <p>Nguyen Khoa Quan</p>
                </div>
                <div class="Eva">
                    <div class="Eva-Oval">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot-empty"></span>
                    </div>
                    <div class="Eva-status">
                    
                        <p>good</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="seeReview-nDot">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>            
        </div>


        <form action="">
            <div class="seeReview-comment">
                <input class="writeComment" type="text" placeholder="Thêm bình luận của bạn">
    
             
    
                <div class="sendComment">
                    <input type="image" value="" src="/MVC/View/icon/ic-send.svg">
                </div>
            </div>
        </form>
        
    </div>
</body>

</html>