/* CSS để tạo kiểu cho menu bên trái */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
}

.left-li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    width: 329px;
    height: 474px;
    left: 26px;
    top: 118px;
}

.menu-items{
    
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px 20px 20px 10px;
    gap: 5px;
}

.left-menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    height: 74px;
    box-sizing: border-box;
    display: inline-flex; /* Đặt các phần tử con (icon và chữ) nằm ngang */
    justify-content: center;
    align-items: center;
    width: 329px;
}

.left-menu:hover {
    background-color: #444;
}

/* Đảm bảo rằng submenu sẽ bị ẩn mặc định */
.left-submenu {
    list-style-type: none;
    padding-left: 60px;
    margin: 0;
    padding-bottom:15px;
    gap: 10px;
    margin-top: -10px;
}

.left-submenu li {
    padding: 5px;
}

.left-submenu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.left-submenu li a:hover {
    color: #24515A;
}

iconify-icon {
    font-size: 20px;
}

