body {
    background-color: #000;
    background-image: url('/MVC/View/img/img_bg_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 1600px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.navigation-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 0px;
}

.left-button,
.right-button {
    background-color: transparent; /* Nút giữ nguyên màu trong suốt */
    border: none;
    cursor: pointer;
    padding: 10px;
}

.left-button img,
.right-button img {
    filter: brightness(0) invert(1);
    width: 50.74px;
    height: 50.76px;
}

.left-button:hover img,
.right-button:hover img {
    transform: scale(1.1); 
}

.container-1 {
    width: 1040px;
    height: 101px;
    margin-bottom: 5-px;
    position: absolute;
    top: 75px;
    text-align: center;
}

.container-1-h2 {
    font-weight: 800;
    font-size: 92px;
}

.white-text {
    color: white;
}

.gradient-text {
    background: linear-gradient(90deg, #296265 0%, #344A5C 38%, #3F2F52 70%, #471C4B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-2 {
    width: 712px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    position: absolute;
    top: 300px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}


.container-2-top, .container-2-center, .container-2-bottom {
    width: 552px;
    margin: 5px auto;
}

label{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    display: block;
}

.input-container {
    position: relative;
    width: 552px;
}

input {
    width: 552px;
    height: 60px;
    background-color: transparent;
    color: #ffff;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 18px;
}

.confirm {
    width: 552px;
    height: 80px;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: white;

    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to right, #296265 0%, #344A5C 38%, #3F2F52 70%, #471C4B 100%);
}

button:hover {
    background-color: #3F2F52;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
}

.input-container{
    position: relative;
    width: 552px;
}

.icon {
    position: absolute; 
    right: 5px; 
    top: 25px; 
    cursor: pointer; 
    width: 30px; 
    height: 30px; 
    filter: brightness(0) invert(1);
}