<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/d1b353cfc4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/MVC/View/css/footer.css">

</head>

<body>
    <footer>
        <hr  align="center" position="absolute" width="1000px" left="calc(50% - 1040px/2)" top="21.5px"
        border="1px solid rgba(255, 255, 255, 0.9)"
        />
        <div class="container-footer w-container">
            <div class="w-row">
                <div class="footer-column-1">
                    <img src="/MVC/View/img/logo.svg" alt="" width="30" class="logo">
                </div>
                <div class="footer-column-2">
                    <div class="w-row">
                        <div class="w-col w-col-8">
                            <div class="w-row">
                                <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                                    <h3 class="footer-titles">TÀI KHOẢN</h3>
                                    <p class="footer-links"><a href="" target="_blank"><span class="footer-link">Đăng
                                                ký<br></span></a><a href=""><span class="footer-link">Đăng
                                                nhập<br></span></a>
                                </div>
                                <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                                    <h3 class="footer-titles">CHUNG</h3>
                                    <p class="footer-links"><a href=""><span class="footer-link">Cookies
                                                Setting<br></span></a><a href=""><span class="footer-link">Terms of
                                                service<br></span></a><a href=""><span class="footer-link"></span></a><a
                                            href=""><span class="footer-link">Privacy Police<br></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="social-icons">
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
                                <i class="fa-brands fa-instagram"></i></a>
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
                                <i class="fa-brands fa-facebook"></i></a>
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
                                <i class="fa-brands fa-x-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>