<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1b353cfc4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/MVC/View/css/header.css">
    <title>Header</title>
    <!-- <script type="javascript" src="script.js"></script> -->
</head>

<body>
    <header>
        <div class="controlbar">
            <div class="logo">
                <img src="/MVC/View/img/logo.svg">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">KHÁM PHÁ</a></li>
                    <li><a href="#">CHÚNG TÔI</a></li>
                </ul>
            </nav>
            <div class="others">
                <div class="signin">
                    <a href="#">ĐĂNG NHẬP</a>
                </div>
                <div class="signup">
                    <button>ĐĂNG KÝ</button>
                </div>
            </div>
        </div>
    </header>