<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/MVC/View/css/header_main.css">
    <link rel="stylesheet" href="/MVC/View/css/main.css">
    <link rel="stylesheet" href="/MVC/View/css/listeningSpace.css">
    <title>Document</title>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>

<body>
    <div class="mainLight"></div>

    <header>
        <div class="controlbar">
            <div class="logo">
                <img src="/MVC/View/img/logo.svg" alt="logo">
            </div>

            <div class="searching">
                <div class="home">
                    <!-- <img class="img-home" src="/MVC/View/icon/icon_home.svg" alt=""> -->
                    <iconify-icon icon="ic:round-home"></iconify-icon>
                </div>
                <div class="input-wrapper">
                    <!-- <img src="/MVC/View/icon/icon_search.svg" alt=""> -->
                    <iconify-icon icon="lucide:search"></iconify-icon>
                    <input type="text" name="" id="">
                </div>

                <div class="voice-searching">
                    <iconify-icon icon="mingcute:mic-fill"></iconify-icon>
                    <!-- <img src="/MVC/View/icon/icon_voice_searching.svg" alt=""> -->
                </div>
            </div>

            <div class="general">
                <div class="notif">
                    <!-- <img src="/MVC/View/icon/icon_notif.svg" alt=""> -->
                    <iconify-icon icon="ri:notification-4-line"></iconify-icon>
                </div>
                <div class="account">
                    <!-- <img src="/MVC/View/icon/icon_signout.svg" alt=""> -->
                    <iconify-icon icon="mdi:account"></iconify-icon>

                </div>
                <p class="op_50" href="">ĐĂNG XUẤT</p>
            </div>
        </div>
    </header>


    <main>
        <!-- Main space -->
        <div class="mainSpace">
            <div class="leftBar">

            </div>

            <div class="centerSpace">

            </div>

            <div class="rightBar">

            </div>
        </div>

        <!-- Listening Space -->
        <div class="listeningSpace">
            <div class="info">
                <img src="/MVC/View/song/Taylor_Swift_-_I_Can_Do_It_With_a_Broken_Heart.png" alt="" class="picOfSong">

                <div class="infoText">
                    <p class="name ui_semibold">I can do this with the broken heart</p>
                    <p class="author ui_regular op_75">Taylor Switf</p>
                </div>

                <div class="addToPlaylist">
                    <iconify-icon icon="ic:round-plus"></iconify-icon>
                </div>
            </div>

            <!-- Music player -->
            <div class="musicPlayer">
                <audio id="audioPlayer" src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3"></audio>
                <div class="controlbar">
                    <button id="lyricsBtn">
                        <iconify-icon id="lyricsIcon" class="" icon="maki:karaoke"></iconify-icon>
                    </button>

                    <button id="backBtn">
                        <iconify-icon id="backIcon" class="" icon="solar:skip-previous-bold"></iconify-icon>
                    </button>

                    <button id="mainControlBtn">
                        <iconify-icon id="mainControlIcon" class="" icon="solar:play-bold"></iconify-icon>
                    </button>

                    <button id="nextBtn">
                        <iconify-icon id="nextIcon" class="" icon="solar:skip-next-bold"></iconify-icon>
                    </button>

                    <button id="returnBtn">
                        <iconify-icon id="returnIcon" class="" icon="icon-park-outline:return"></iconify-icon>
                    </button>
                </div>

                <div class="timeDisplay">
                    <span id="currentTime">0:00</span>
                    <div class="progressContainer" id="progressContainer">
                        <div class="progress" id="progress"></div>
                    </div>
                    <span id="duration">3:38</span>
                </div>
            </div>

            <!-- General space -->
            <div class="general">
                <button id="info">
                    <iconify-icon id="infoIcon" icon="ic:round-info"></iconify-icon>
                </button>

                <div class="volumnSpace">
                    <button id="output">
                        <iconify-icon id="outputIcon" class="icon-active" icon="solar:volume-loud-bold"></iconify-icon>
                    </button>
                    <input type="range" id="volumnContainer" class="volumnContainer" min="0" max="100" value="100">
                </div>
            </div>
        </div>
    </main>
    <script src="/MVC/View/script/listeningSpace.js"></script>
</body>

</html>