<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MVC/View/css/main.css">
    <title>Document</title>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>

<body>
    <div class="mainLight"></div>

    <header>
        <div class="controlbar">
            <div class="logo">
                <img src="/MVC/View/img/logo.svg" alt="logo">
            </div>

            <div class="searching">
                <div class="home">
                    <img class="img-home" src="/MVC/View/icon/icon_home.svg" alt="">
                </div>
                <div class="input-wrapper">
                    <img src="/MVC/View/icon/icon_search.svg" alt="">
                    <input type="text" name="" id="">
                </div>

                <div class="voice-searching">
                    <img src="/MVC/View/icon/icon_voice_searching.svg" alt="">
                </div>
            </div>

            <div class="general">
                <div class="notif">
                    <img src="/MVC/View/icon/icon_notif.svg" alt="">
                </div>
                <div class="account">
                    <img src="/MVC/View/icon/icon_signout.svg" alt="">
                </div>
                <p class="op_50" href="">ĐĂNG XUẤT</p>
            </div>
        </div>
    </header>


    <main>
        <!-- Main space -->
        <div class="mainSpace">
            <div class="leftBar">

            </div>

            <div class="centerSpace">

            </div>

            <div class="rightBar">

            </div>
        </div>

        <!-- Listening Space -->
        <div class="listeningSpace">

        </div>
    </main>
</body>

</html>